/*--------------- 
   Font Style
--------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/*--------------
    main portion
 ---------------- */
 .top-portion{
     background-color: navy;
     width: 100%;

 }
 .player{
    display:flex;
 }
.field{
    font-size: 36px;
    color:rgb(173, 238, 214);
    line-height: 50px; 
    padding-left: 100px; 
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.field img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px; 
}
.field:hover img{
    transform: scale(1.2);
    transition: transform 1s;
}
.live{
    background-color: orangered;
    border-radius: 5px;
    position: static;
    width: 168px;
    height: 44px;
    left: 156px;
    top: 464px;
    padding: 10px, 24px, 10px, 24px;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
}
.live text{
position: static;
width: 88px;
height: 24px;
left: 24px;
top: 10px;
font-weight: 500;
font-size: 16px;
line-height: 24px;    
}
.arrow{
    position: static;
    width: 24px;
    height: 24px;
    left: 120px;
    top: 10px;
}

.live:hover{
    background-color: rgb(42, 209, 70);
    color: black;
} 
/*-----------------------
       Second section
 ------------------------ */
.second-portion,.goal-post{
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    border: 5px;
    padding-left:30px;
    padding-right: 30px;
    background-color: rgba(234, 228, 250, 0.397);
    text-align: center;
    
}
.goal{
    background-color: white;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
}
.goal img{
    height: 256px;
    width:  256px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
/*---------------
  Middle portion 
 ----------------*/
 .penalty{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 10px, 20px, 10px, 20px;
    width:50%;

 }
.free-kick{
    flex-direction: row;
    width: 50%;
   margin-left: 50px;
}
 
 h1{
    text-align: left;
    font-size: 48px;
    line-height: 60px;
    margin-top: 20px;
    margin-left: 30px;

 }
 .free-kick img{
    position: absolute;
    width: 360px;
    height: 330px;
    left: 717px;
    margin-top: 30px;
 }
 p{
 text-align: left;
 }

/*-------------------
     ending part
---------------------*/
.info{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
}
/*---------------
 logo Section
 ---------------- */
 #logo{
     margin-left: 40%;
     margin-top: 8%;
 }
/*-------------
   social icon
 --------------*/
 .icon{
     margin-left: 45%;
     font-size: 20px;
 }
 .fab, .far, small{
     margin-left: 8px;
     align-items: center;
     color: gray;
 }
 /*------------------
   Media Queries
----------------------*/
/*-------------------
    Mobile Device
-----------------------*/
@media only screen and(max-width:688px){
    .grid{
        width:100%;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid{
        flex-direction: column;
    }
}
    
